#quarto-code-tools-source{
    color: #ffffff;
}

/* costum cursor */
* {
    cursor: none !important;  
    font-family: Roboto;
}

.cursor {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: fixed;
    left: -5px;
    top: -5px;
    z-index: 99999;
    pointer-events: none;
    background-color: #000000;
    opacity: 0.8;
    /*
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    */
}

.cursorwhite {
    width: 12px;
    height: 12px;
    position: fixed;
    left: -5px;
    top: -5px;
    z-index: 99999;
    pointer-events: none;
    background-color: #ffffff;
    opacity: 0.8;
    /*
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    */
}

.cursorhover {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    left: -5px;
    top: -5px;
    z-index: 99998;
    /*
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    */
}

* #gitflow {
    cursor:none !important;
}




/* costum scroll bar */
::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background: rgba(0,0,0,0);
border-radius: var(--rd,7.5px);
border: 1px solid #000000;
margin-block: 10px;
}

::-webkit-scrollbar-thumb {
background: #000000;
border-radius: var(--rd,7.5px);
}


::-webkit-scrollbar:horizontal{
height: 10px;
}

::-webkit-scrollbar-track:horizontal{
    background: rgba(0,0,0,0);
    margin-left:10px;
    margin-right: 10px;
    box-shadow: none;
}

::-webkit-scrollbar-thumb:horizontal{
    background:  #000000;
    border-radius: var(--rd,5px);
    box-shadow: none;
}


@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color:   #000000 #ffffff;
        scrollbar-width: thin;
    }
}


th{
    display: none;
}


.sidebar nav[role="doc-toc"] ul > li > a.active, .sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {
    border-left: 1px solid #67adcd;
    color: #67adcd!important;
}
.sidebar nav[role="doc-toc"] ul > li > a:hover{
    color: #67adcd!important;
}
